.container.bnb-containerForm {
    margin: 25px auto;

    form {
        margin: 25px 0;
        min-width: 360px;
        width: 100vw;
        max-width: 100%;

        .bnb-formFlatDetails {
            margin-bottom: 25px;
        }
    }

}
