.container.bnb-containerForm {
    margin-bottom: 25px;
    form {
        margin-bottom: 25px;
        min-width: 360px;
        width: 100vw;
        max-width: 100%;
        .bnb-formFlatDetails {
            margin-bottom: 25px;
        }
    }

}
